body{
    background-image: url("../img/sushi_bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin: 0;
    
    
}

.s_u{
    font-size: 10px;
    color: blue;
    cursor: pointer;
    display: flex;
    margin-top: 5px;;
    justify-content: flex-end;
}

.login-box{
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}